.mine {
  height: 20px;
  width: 20px;
}

.mine.clicked {
  background-color: lightblue;
}

.mine.flagged {
  background-color: yellow;
}

.mine.question {
  background-color: lightgreen;
}

table, tbody, tr, td {
  margin: 0;
  padding: 0;
}
